# Core
fastapi==0.115.2
uvicorn[standard]==0.34.2
python-multipart==0.0.9
pydantic[email]
sqlalchemy
psycopg2-binary
asyncpg
aiohttp
apscheduler
boto3
stripe
Pillow
openai
requests
beautifulsoup4
selenium

# Testing
pytest
pytest-asyncio

# Optional: Only if you're using notebooks
ipykernel==6.29.5

# IMPORTANT: Pin this version to stay on Python 3.11
databutton==0.27.7
